# 防止过拟合的方法

1. 回归问题：拟合函数中少用高次特征，代价函数中加上正则项
2. 分类问题：决策树剪枝

# LR预测鸢尾花

In [23]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [24]:
X, y = load_iris(return_X_y=True)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [25]:
# 查看数据缺失率
pd.merge(
    pd.DataFrame(X).isnull().sum().reset_index(),
    (pd.DataFrame(X).isnull().sum()/pd.DataFrame(X).shape[1]).reset_index(),
    how='left',
    on='index'
).rename(columns={'index':'字段名', '0_x':'缺失记录数', '0_y':'缺失率'})

   字段名  缺失记录数  缺失率
0    0      0  0.0
1    1      0  0.0
2    2      0  0.0
3    3      0  0.0

In [26]:
# 分离训练集测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

In [33]:
# 训练
clf = LogisticRegression()
clf.fit(X_train, y_train)
# 预测
preds = clf.predict(X_test)
# 评估
print(classification_report(y_test, preds, np.unique(y)))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        14
          1       1.00      0.72      0.84        18
          2       0.72      1.00      0.84        13

avg / total       0.92      0.89      0.89        45

In [36]:
# y原值和预测值，打印出来看下
pd.concat([pd.DataFrame(y_test, columns=['y_test']), pd.DataFrame(preds, columns=['preds'])], axis=1)

    y_test  preds
0        0      0
1        1      1
2        1      1
3        0      0
4        2      2
5        1      2
6        2      2
7        0      0
8        0      0
9        2      2
10       1      1
11       0      0
12       2      2
13       1      1
14       1      2
15       0      0
16       1      1
17       1      2
18       0      0
19       0      0
20       1      1
21       1      2
22       1      2
23       0      0
24       2      2
25       1      1
26       0      0
27       0      0
28       1      1
29       2      2
30       1      1
31       2      2
32       1      1
33       2      2
34       2      2
35       0      0
36       1      1
37       0      0
38       1      1
39       2      2
40       2      2
41       0      0
42       2      2
43       2      2
44       1      1